.advice-head{
    margin-top: 30px;
}
.advice-head h3{
    color: #31326f;
}
.advice-head h6{
    font-size: 15px;
    color: #bbbbbb;
}
.advice-container{
    background: #aee4da;
    padding: 30px;
    margin: 30px;
}
.advice-container h4{
    color: #31326f;
    font-weight: 500;
    font-size: 26px;
}